.main-wrapper {
  background-image: url(https://wallpapercave.com/wp/wp3253731.jpg);
 
}

.main-wrapper header h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  font-size: 40px;
}
.result img{
  width: 100%;
  height: 320px;
}

.result:hover{
  cursor: pointer;
  box-shadow: 0px 0px 30px white;
}
.result img{
  width: 100%;
  height: 320px;
}

